<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @guest.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @guest.l_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @guest.state %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
