<%= content_for :header, 'Bookings' %>
<% if @booking.errors.any? %>
<div class="callout callout-danger">
    <ul>
        <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Editing Booking for: <%= @booking.guest.full_name %></h3>
    </div>
    <%= render 'form', booking: @booking %>
</div>


<%= link_to bookings_path do %>
  <button class="btn btn-default btn-sm">
      Back
  </button>
<% end %>
